{% extends "Index.html"%}
{% block content%}
<div class="container-fliud" style="margin-top: 50px;">
    <div class="col-md-offset-4 col-md-4">
        <form action="/update/{{data.id}}" method="POST" autocomplete="off">
            {% csrf_token %}
            <h3 class="page-header text-primary text-center"><i class="fa fa-edit">Update</i></h3>
            <div class="form-group">
                <label for="">Name</label>
                <input type="text" class=" form-control" value="{{data.name}}" name="name">
            </div>
            <div class="form-group">
                <label for="">Age</label>
                <input type="text" class=" form-control" value="{{data.age}}" name="age">
            </div>
            <div class="form-group">
                <label for="">Address</label>
                <input type="text" class=" form-control" value="{{data.address}}" name="address">
            </div>
            <div class="form-group">
                <label for="">Contact</label>
                <input type="text" class=" form-control" value="{{data.contact}}" name="contact">
            </div>
            <div class="form-group">
                <label for="">Email</label>
                <input type="text" class=" form-control" value="{{data.email}}" name="email">
            </div>
            <div class="form-group">
                <input type="submit" class="btn btn-primary btn btn-block " value="Update">
            </div>
        </form>
    </div>
</div>
{% endblock %}